name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: 獲取並打印最新 release tag
      uses: pozetroninc/github-action-get-latest-release@master
      id: latest
      with:
        repository: ${{ github.repository }}
        excludes: draft
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: 直接打印 tag
      run: echo "最新 release tag 是：${{ steps.latest.outputs.release }}"
