name: Get dependencies

on:
  workflow_dispatch:

jobs:
  build-windows:
    # GitHub's Windows runners have a C: drive and a D: drive.
    # C: is for the OS and has good read performance but awful write performance.
    # D: has much better faster write performance (>20x faster than C:)
    # We want to use the D: drive whenever we can. Trying to do "npm ci" on the C:
    # drive has been observed to take over an hour!
    runs-on: windows-latest
    steps:
    # actions/checkout can only clone to paths in $GITHUB_WORKSPACE which is on the C: drive,
    # so we have to clone to C: then copy to D: after. This repository itself isn't huge so
    # this is plenty fast.
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        persist-credentials: false
        path: repo
    - name: "Move repository to D: drive"
      run: |
        Copy-Item -Path repo -Destination D:\repo -Recurse
        Remove-Item -Path repo -Recurse -Force
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
    # The repository being on D: means that node_modules IO will be fast, but npm still downloads
    # packages to a temporary folder for caching which is on C: by default. We need to make sure
    # npm uses the D: drive instead otherwise we still get bottlenecked by C:.
    - name: "Configure npm to use D: drive"
      run: |
        npm config set cache D:\npm-cache
        npm config set prefix D:\npm-prefix
    - name: Clean cache
      run: npm cache clean --force --loglevel=info
    - name: Install dependencies
      working-directory: D:\repo
      run: npm install --force --loglevel=info
    - name: Upload artifacts to GitHub Actions
      uses: actions/upload-artifact@v4
      with:
        name: windows
        path: D:\repo\*
