name: Get lock

on:
  workflow_dispatch:

permissions:
  # required to modify releases
  contents: write

jobs:
  release-linux-noarch:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        persist-credentials: false
    - name: Install strip-nondeterminism
      run: sudo apt-get install strip-nondeterminism
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: Setup bun ⚙️
      uses: oven-sh/setup-bun@v2
    - name: Install dependencies
      run: bun install --frozen-lockfile --loglevel=info
    - name: Install dependencies21
      run: ls -la
    - name: Upload artifacts to GitHub Actions
      uses: actions/upload-artifact@v4
      with:
        name: lock
        path: bun.lock          
        retention-days: 1
