name: Release → Dispatch Tag to 02engine-aur

on:
  release:
    types: [published]          # release 发布时触发
  workflow_dispatch:            # 你也可以手动测试

jobs:
  dispatch-AUR:
    runs-on: ubuntu-latest
    steps:
      - name: Send tag to aur repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.ORG_DISPATCH_TOKEN }}              # 组织 secret
          repository: ${{ github.repository_owner }}/02engine-aur  # 替换成你的 B 仓库名，例如 deep-sea/my-aur-pkg
          event-type: updata-aur                           # 自定义事件名
          client-payload: '{"message": "${{ github.event.release.tag_name }}"}'
